<!-- Form demo -->
<div class="container">
  <h2>User Settings</h2>
  <form #form = "ngForm">

    <!-- form group demo -->
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name"  ngModel/>
    </div>

    <!-- Check box demo -->
    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" id="subscribeEmail" name="subscribeEmail" ngModel>
      <label class="form-check-label" for="subscribeEmail">
        Sign up for news letter
      </label>
    </div>

    <!-- radio button demo -->
    <p>Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="inferfaceLight"
          value="light" checked ngModel>
        <label class="form-check-label" for="inferfaceLight">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle"
          id="interfaceMedium" value="medium" ngModel>
        <label class="form-check-label" for="interfaceMedium">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle"
          id="interfaceDark" value="dark" ngModel>
        <label class="form-check-label" for="interfaceDark">
          Dark
        </label>
      </div>
    </div>

    <!-- selector demo -->
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select id="subscriptionType" name="subscriptionType" class="form-control" ngModel>
        <option selected>Open this select menu</option>
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>

    <!-- plain text area -->
    <div class="form-group">
      <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea class="form-control" id="notes" name="notes"
          rows="3" ngModel></textarea>
      </div>
    </div>

    <!-- password demo -->
    <!-- <div class="form-group">
      <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd">
      </div>
    </div> -->

    <button class="btn btn-primary">Send</button>
  </form>
</div>

<!-- data output for the page. This is the data stream you pipe into the backend.
  Comes from #form = "ngForm" -->
{{ form.value | json }}
